:root {
    --background:#251F34;
    --header: #FC4668;
    --font: Verdana sans-serif #FFC87C;
}



body {
    background-color: var(--background);
    margin:0px;
    font-family: var(--font);

.goldText{
    color:#FFC87C;
}



}

header {
       background-color: var(--header);
       padding:10px;
       color: #FFC87C;
}

h1 {
    margin:0;
}

h2{
    margin:0;
}

th, td {
    border: 1px solid black;
    padding: 7px;
}


.ISHMAEL {
    width: 500px;
}

div {
    background : color #FFC87C;
}

.MAINPAGE {
    width: 1350px;
}

.STUDENTID{
    width: 400px;
}